.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
