.nav {
  color: #fff;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
  background-image: var(--primary-glow);
}

.nav-list {
  max-width: 1400px;
  margin: 0 auto;
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
